---
import InfoBox from "@/components/utils/InfoBox.astro"
import Title from "@/components/utils/Title.astro"
import type { Project, ProjectTextBox } from "@/types/projectsTypes"

interface ProjectBoxesProps {
  boxes: ProjectTextBox[]
  lang: "es" | "en" | "ca" | "eu" | "gl"
}

const { boxes, lang } = Astro.props as ProjectBoxesProps
---

<section>
  {
    boxes.map((box) => (
      <InfoBox
        box={box}
        class="project-box"
        lang={lang}
      />
    ))
  }
</section>

<style>
  section {
    display: flex;
    flex-wrap: wrap;
    gap: 2.75rem;
    justify-content: center;
    margin: 7rem auto;
  }
</style>